/* src/component/LoginModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  background: #fff;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  border-radius: 6px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.modal-box h2 {
  margin-bottom: 20px;
}

.modal-box form label {
  display: block;
  margin-bottom: 10px;
}

.modal-box input[type="text"],
.modal-box input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  margin-bottom: 15px;
}

.modal-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-login-btn {
  width: 100%;
  padding: 12px;
  background: #222;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.modal-register {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}


.quantity-container {
  display: flex;
  align-items: center;
  border: 1px solid #000;
  border-radius: 999px;
  overflow: hidden;
  padding: 2px 10px;
  width: fit-content;
}

.qty-btn {
  background: #f5f5f5;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.2s ease;
}

.qty-btn:hover {
  background: #e0e0e0;
}

.qty-value {
  padding: 0 12px;
  font-size: 16px;
}

.menu-icon-shop {
  width: 60px;
  object-fit: contain;
}

.shop-side-bar {
  height: 500px;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
}

.shop-side-bar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

